# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/


# Virtual Environment
venv/
env/
.env

# IDE specific files
.idea/
.vscode/
.DS_Store

# Test files
test*.md 

# Build files
build/
dist/
